:root {
  --color-primary: #000000;
  --color-secondary: #5d5fef;
  --color-border-gray: #e2e3e5;
  --color-bg-gray: #f3f4f6;
  --shadow-md: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
}